*{
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background:  #c7b5b5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 background: #fff;
}

header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
   
}

header nav a:hover{
       /* Permalink - use to edit and share this gradient. Enlace permanente - úsalo para editar y compartir este gradiente: https://colorzilla.com/gradient-editor/#840800+53,cc0000+100 */
background: linear-gradient(to bottom,  #840800 53%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

padding: 5px; 
}


.nosotros {
    margin: 10px;
    padding: 50px 20px;
    text-align: center;
}

.nosotros h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.nosotros p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    margin: 0 10px;
    display: inline-block;
}

footer .social img {
    width: 24px;
}

